


<div>

    <h1 style="display: inline-block">Restaurantes de Zaragoza</h1>
    <a href="#/nueva" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></a>

    <div class="searchbox row">

        <div class="col-md-5">
            <input class="input-lg" type="text" placeholder="buscar..." ng-model="busqueda">
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-default btn-lg" ng-click="ordenAscendente = !ordenAscendente">
                <span class="glyphicon"
                      ng-class="{
                      'glyphicon-sort-by-alphabet' : ordenAscendente,
                      'glyphicon-sort-by-alphabet-alt' : !ordenAscendente
                      }"></span>
            </button>
        </div>
        <div class="col-md-5">
            orden<br/>

            <label class="checkbox-inline">
                <input type="radio" ng-model="orden" value="title"> nombre
            </label>

            <label class="checkbox-inline">
                <input type="radio" ng-model="orden" value="tenedores"> categoría
            </label>
        </div>
    </div>

    <ul><
    <li ng-repeat="restaurante in restaurantes.result|limitTo:limite">
       {{ restaurante.title }}

                {{restaurante.tenedores }}
            </li>

    </ul>

    </div>

    {{ limite }} de {{ restaurantes.totalCount}}
    <div class="row">
        <div class="col-md-6">
            <button type="button" class="block-center btn btn-primary btn-lg btn-block" ng-click="verMas()">ver más
            </button>
        </div>
        <div class="col-md-6">
            <button type="button" class="block-center btn btn-default btn-lg btn-block" ng-click="verMenos()">
                ver menos
            </button>
        </div>
    </div>


</div>